#Chat {
	
	// Loading state
	&.loading {
		.state-loading { display: block; }
		.state-loaded { display: none; }
	}
	
	// Loaded state
	.state-loading { display: none; }
	.state-loaded { display: block; }
	
	
}