<!DOCTYPE html>
<html>
  <head>
    <title>SecondFriend</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;" />

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/app.css" type="text/css" media="screen" charset="utf-8">
    <script data-main="js/bootloader" src="js/libs/require.js"></script>
  </head>
  <body style="padding:0px;margin:0px;">
  </body>

  <!-- Templates -->
  <script type="text/template" id="tpl-chat-history">
    <ul id="history"></ul>
    <form id="chat" class="form-inline" autocomplete="off">
      <div id="chat-bar" class="controls">
        <div id="inputs" class="input-append">
          <input id="chat-input" type="text" placeholder="Your chat message..." />
          <button class="btn" type="submit"><strong>Send</strong></button>
        </div>
      </div>
    </form>
  </script>
  <script type="text/template" id="tpl-chat-message">
    <span class="time"><%=_.fmtTime(message.timestamp)%></span>
    <span class="body">
      <span class="author"><%=message.sender%></span>
      <span class="message"><%= message.payload %></span>
    </span>
  </script>
  <script type="text/template" id="tpl-login">
    <h3>Second Friend</h3>
    <p>Second Friend is a totally anonymous, confidential and secure way to chat with a trained counselor.<br/> We will not transmit or save any information about you!</p>
    <div class="alert alert-info">
      <strong>Getting started is dead easy:</strong> Simply type a nickname below and hit the button. You do not need to tell us your real name!
    </div>
    <form id="login" class="form-inline input-append">
      <div class="control-group">
        <div class="controls">
          <div class="input-append">
            <input class="span4 input-append" id="nickname" size="16" type="text" value="<%= nickname %>" placeholder="Choose a nickname..."><button class="btn" type="submit"><strong>Start chat</strong></button>
          </div>
        </div>
      </div>
    </form>
  </script>
</html>
